// Widescreeens
@include mediaXL {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Laptops
@include mediaLg {
    .projects{
    grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        width: 100%;
        transform: translate3d(100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        width: 100%;
        transform: translate3d(-100%, 0, 0);

        .portrait {
            background: url('../img/portrait_small.jpg');
            width: 150px;
            height:150px;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';

        grid-template-columns: 1fr;
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }
}

// Phones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }

    .projects{
        grid-template-columns: repeat(1, 1fr);
    }
}
